<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleIdentifier</key>
        <string>com.plexapp.agents.tvmaze</string>
        <key>PlexAgentAttributionText</key>
        <string>TVmaze.com is a one stop database and management tool for TV fanatics.
        &lt;br/&gt;&lt;br/&gt;

        The data on TVmaze is updated daily by the community to provide you with detailed network, show, episode, cast and character information.
        &lt;br/&gt;&lt;br/&gt;

        For more info check out: &lt;a href=&quot;http://www.tvmaze.com/site/features&quot;&gt;http://www.tvmaze.com/site/features&lt;/a&gt;
        </string>
        <key>PlexFrameworkVersion</key>
        <string>2</string>
        <key>PlexPluginClass</key>
        <string>Agent</string>
        <key>PlexPluginMode</key>
        <string>AlwaysOn</string>
        <key>PlexPluginConsoleLogging</key>
        <string>1</string>
        <key>PlexPluginDevMode</key>
        <string>1</string>
         <key>PlexPluginCodePolicy</key>
            <!-- this allows channels to access some python methods which are
            otherwise blocked, as well as import external code libraries,
            and interact with the PMS HTTP API -->
            <string>Elevated</string>
    </dict>
</plist>
